<launch>

  <!-- Launch the VICON Node with its configuration file -->
  <include file="$(find vicon_vrpn)/launch/vicon_vrpn.launch" />
  
  <!-- Launch the tf to odom pkg to get velocities -->
  <node name="vicon_tf_to_odom" pkg="vicon_vrpn" type="vicon_tf_to_odom">
    <param name="frame" value="/txt01/vicon" />
  </node>
  
  <!-- Launch the txt node with ekf -->
  <node name="txt_driver" pkg="txt_driver" type="txt_node">
    <param name="port" value="/dev/ttyUSB1" />
  </node>
  <!--include file="$(find txt_launch)/txt_node.launch" /-->

</launch>
