<launch>
  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf" output="screen">
    <remap from="/imu/data" to="/imu_data" />
    <remap from="/odom" to="/odom" />
    <param name="freq" value="30.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="publish_tf" value="true"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="true"/>
    <param name="vo_used" value="true"/>
    <param name="debug" value="false"/>
    <param name="self_diagnose" value="false"/>
  </node>
  
  <node pkg="microstrain_3dmgx2_imu" type="imu_node" name="imu_node" output="screen">
    <param name="port" value="/dev/ttyUSB2" />
  </node>
  
  <!-- Launch the VICON Node -->
  <node name="vicon_pose" pkg="vicon_vrpn" type="vicon_to_pose" >
    <param name="subject" value="txt01" />
    <param name="freq" value="100.0" />
    <param name="host_addr" value="Vicon" />
    <param name="tf_ref_frame" value="/odom" />
  </node>
  
  <!-- Launch the Kalman Filter to get the velocity information -->
  <node name="pose_to_odom" pkg="vicon_vrpn" type="vicon_pose_to_odom" >
    <param name="odom_frame" value="/odom" />
    <param name="odom_topic" value="/odom" />
    <param name="freq" value="75.0" />
    <remap from="/odom" to="/vo" />
  </node>
  
  <include file="$(find txt_launch)/txt_node.launch" />
    
</launch>
