<launch>
  <node name="waypoint_nav" pkg="waypoint_nav" type="waypoint_navigator" output="screen">
    <rosparam file="$(find ml_follow_pioneer)/launch/waypoints.yaml" command="load" />
    <param name="lin_vel" value="0.5" />
    <param name="look_ahead" value="0.6" />
    <remap from="/odom" to="/odom" />
    <remap from="/cmd_vel" to="/cmd_vel" />
  </node>
</launch>
